<% if @listings.empty? %>
  None yet!<br><br>
<% else %>
  <div class="margin"><% @listings.each do |listing| %>
    <% if @album %>
      <%= link_to "#{listing.condition} - $#{listing.price}", user_listing_path(listing.user, listing) %><br>
      <small>Sold by <%= link_to "#{listing.user.username}", user_path(listing.user) %></small><br>
    <% end %>
    <br>
  <% end %></div>
<% end %>
